#carousel-example-generic {
	width: 900px;
	margin: 0 auto;
	max-width: 100%;
	padding-top: 20px;
    border: 1px solid #eee;
}
.carousel h3 {
	text-align: center;
}
.carousel-control > span {
    color: #9a9a9a;
}

.carousel-control {
    background-image: none;
	width:auto;
	margin : 0px -30px;
}

