/* SampleStylesSS.css     Apr 2012  */

BODY {
	margin: 0px auto;
	background-color: #F6F6F6;
	font-family: Verdana, Arial, Helvetica;	
	text-align: -moz-center;  	/* centering for Firefox  */
	text-align: -khtml-center;  /* centering for Safari and Chrome */
	#text-align: center;        /* centering for IE */
}

HR {
	text-align: center;
	width: 1052px; 
	height: 1px;
}

IMG { border: none; }

#divOuterContainer {
	width: 100%;
	margin: 0px auto;
}

.bgWhite { background-color: #FFFFFF; }
.font10pt { font-size: 10pt; }
.fontA10 { font-family: Arial; font-size: 10pt; }

/* input select list item font */
SELECT.rdThemeInput { font-size: 10pt; }


/* --- overridden classes from rdTemplate/rdSchedule/rdScheduleStyle.css --------- */

.rdSchedule TABLE
{
	text-align: left;  /* counter centering in BODY tag */
	border-collapse: collapse;
	border-width: 0px;
}

/* add more space between labels and controls */
.rdScheduleColumnGap
{
	width: 24px;  
}

/* provide a little more vertical space between lines of controls */
.rdSchedule TD
{
	padding-top: 5px;	
	padding-bottom: 5px;
}

