.right{
	float: right !important;
}
.page-sep{
    height: 40px;
    border: 1px solid lightgray;
    /*width: 100%;*/
    margin-top: 30px;
    margin-bottom: 30px;
    background: #f8f9fa;
	border-radius: 5px;
}
.tbl-container{
    background: #f8f9fa;
	border: 1px solid lightgray;
	padding: 15px;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	border-radius: 5px;
}
.tbl-header-btn{
    border-radius: 100px;
    width: 100%;
    min-width: 78px;
	/*margin-top: 4px;*/
    font-size: 15px !important;
}
.tbl-chart-conainer{
    border: 1px solid rgba(0,0,0,.1);
    background: white;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    margin-bottom: 10px;

}
.tbl-lbl{
    border-radius: 100px;
    min-width: 70px;
    width: 70px;
	height: 30px;
    text-align: center;
    margin: 0px;
    padding: 1px;
    font-weight: 700;
	/*margin-top: 8%;*/
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
table {
	border-collapse: collapse !important;
}
table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
	/*table-layout: fixed; */
}
.table-header{
    width: 169px;
    background-color: #9ba4b7;
    text-align: center;
    border: none;
	border-right: 1px solid;
}
.right-borderd{
    border-right: 1px solid #9ba4b7 !important;
}
.select2-container .select2-selection--single {
        height: 37px;
    }
.filter-row1{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	/*margin-left: -15px;
    margin-right: -15px;*/
	margin-left: 101px;
    margin-right: 101px;
   /* margin-right: -30px;
    margin-left: -30px;*/
	border-bottom: 2px solid lightgray;
    padding: 25px !important;
	margin-top: 60px;
}
.filter-row{
	top: 65px;
    width: 100%;
    z-index: 999 !important;
    margin-bottom: 0px;
    position: fixed;
	border-bottom: 2px solid lightgray;
	padding: 25px !important;
	background-color: #f9f9fa !important;
}
.filter-row .container{
	padding-right: 0px;
    padding-left: 0px;
}
.chart-col{    
	border: 1px solid #cfd1d4;
    border-radius: 5px;
    background-color: #f8f9fa;
}
.card-left-col{
 	padding-top: 20px;
}
/*Table custom searc*/
.icon-addon{
	position: relative;
    color: #d2d2d2;
    display: block;
}
.inp-search{
	line-height: 1.33;
    height: 28px;
    font-size: 16px;
    /*padding: 10px 16px 10px 40px;*/
	border-radius: 5px;
}
.dataTables_filter{ display: none; }
.inp-icon{
	top: -7px;
    position: absolute;
    z-index: 4;
    right: 10px;
	padding: 12px 0;
	-webkit-font-smoothing: antialiased;
	line-height: 18px !important;
}
.inp-icon2{
	    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
    position: absolute;
    z-index: 2;
    left: 10px;
    /* font-size: 14px; */
    width: 20px;
    /* margin-left: -2.5px; */
    /* text-align: center; */
    padding: 10px 0;
    /* top: 1px; */
    /* position: relative; */
    /* top: 1px; */
    /* display: inline-block; */
    /* font-family: 'Glyphicons Halflings'; */
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
#DataTable1{background-color: white;}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    top: 5px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: none;
    top: 5px;
}
.table td, .table th {
    padding: .60rem !important;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    visibility: hidden;/*Hide the custom search text input*/
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    min-height: 37px;
}
.select2-selection {
	-webkit-box-shadow: 0;
	box-shadow: 0;
	background-color: #fff;
	border: 0;
	border-radius: 0;
	color: #555555;
	font-size: 14px;
	outline: 0;
	/*  min-height: 48px;*/
	text-align: left;
}

.select2-selection__rendered {
  	margin: 5px;
}
.select2-selection__arrow {
 	margin: 5px;
}
.tbl-padding-pg{
	padding-top: 10px;
	width: 100%;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.65em !important;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}
.dataTables_info{
    text-align: right;
	clear: none !important;
} 

table.dataTable td.sorting_1, table.dataTable td.sorting_2, table.dataTable td.sorting_3, table.dataTable th.sorting_1, table.dataTable th.sorting_2, table.dataTable th.sorting_3{
	background: none !important;
}

.select2-container--bootstrap {
	width: 75px !important;
}

.BluebackGround{
    color: white;
    background-color: #337AB6 !important;
}

.form-control{
border: 1px solid #e8e8e8 !important;
}