.dashboard-layout {
	padding: 0px !important;
}

@media (min-width: 992px) {
	.dashboard-layout {
		padding: 0px !important;
	}
}
@media (max-width: 767px) {
	.dashboard-layout {
		padding: 0px !important;
	}
}
@media (max-width: 991px) {
	.dashboard-layout {
		padding: 0px !important;
	}
	.logiLib-title {
		display: none !important;
	}
}

/* make radio/checkboxes a little larger */
/*INPUT[type="checkbox"], INPUT[type="radio"] {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.2);
    margin-left: 4px;
    margin-right: 6px;
}*/

/* Date Range Picker */
.ranges ul {
    overflow-y: auto;
    max-height: 237.5px;
}

.daterangepicker .ranges .btn {
    width: 48.5%;
	margin-top: 9.5px !important;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* Select2 */
.select2-selection--multiple:before {
	content : '';
	border-color: #999 transparent transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    height: 0;
    right: 12px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
    cursor: pointer;
}
.select2-container--open .select2-selection--multiple:before {
	content : '';
	border-color: transparent transparent #999 transparent;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    height: 0;
    right: 12px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
    cursor: pointer;
}
span.checkList .select2-results__option[aria-selected=true]:before{
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-size: small;
    text-decoration: inherit;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    height: 0;
    margin-left: 96%;
    width: 0;
}
span.checkList .select2-results__option[aria-selected=true]{
	padding-right: 13px;
}

ul.select2-choices {
    padding-right: 30px !important;
}

ul.select2-choices:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.logo-default{
  position: absolute;


  margin-top: 16px !important;
 
}
.page-logo{
position: relative;
}
/* Sankey Chart */
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.applied-filters {
	position: fixed;
    bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    _position: absolute;
    _top: expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
    background-color: rgba(136, 167, 172,.4);
    padding: 1px 2px 0px 2px;
    z-index: 100;
    color: #292E3C;
    display: table;
    width: 100%;
    line-height: 1.5em;
    text-align: center;
}
.filter-item {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
}

.filter-item > span > span {
    padding-left: 1px;
    display: inline-block;
	padding-right: 1px;
}

/* layout.css override */
.page-header.navbar .page-logo {
	background: #FFFFFF !important;
}

.page-header.navbar .menu-toggler {
    background-image: url(assets/layouts/layout2/img/sidebar_toggler_icon_darkblue.png) !important; /* using darker icon for toggler (dbseer)*/
} 

@media (max-width: 767px){
	.page-header.navbar {
		background: #FFFFFF !important;
		height: 68px !important;
	}
	
	.page-header.navbar .menu-toggler.responsive-toggler {
    	background-image: url(assets/layouts/layout2/img/sidebar_toggler_icon_darkblue.png) !important;
	}
	
	.page-header.navbar .page-top {
		display: none;
	}
}

.page-footer-inner p {
	margin : 0;
}

.page-title{
	text-align : left;
}
.page-title b {
	font-weight : normal !important;
}

.portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
    min-width: 70px;
}

.page-top h1 {
	padding: 15px !important;
	margin-top: 0;
    margin-bottom: 0;
	text-align : left;
}

.rdPopupPanelTitle {
    padding-bottom: 0;
    text-align: center;
}

/*** KPIs ***/
.visual-cusTile-div{
    padding-top: 35px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}

.visual-cusTile-i{
    color: #fff;
    opacity: .1;
    margin-left: -180px;
    font-size: 110px;
    line-height: 110px;
    margin-top: 80px;

}

.dashboard-stat2{
	padding: 15px 15px 20px 15px;
}
.dashboard-stat2 .display {
    margin-bottom: 5px;
}

/*** Schedule Manager ***/
.action{
	color:#666666;
}
.action:hover{
	color:#066CB0 /*LinkHoverColor*/
}

.tag-danger {
    background-color: #d9534f;
}
.tag-success {
    background-color: #5cb85c;
}
.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.fieldset {
	border: 1px solid #cccccc !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.fieldset input, .fieldset select, .fieldset label {
	margin: 5px !important;
}

.fieldset-legend {
	font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
	margin-bottom: .5rem;
}
.schd-Input-text {
	/*margin-left : 10px !important;*/
	width : 225px;
}

.schedule-container{
	padding: 10px 10px 0 10px;
}
caption {
	caption-side : top;
}
.no-raduis, select#selSchInterval_TaskSchedule, [class^='select2'] {
	border-radius: 0px !important;
}
.badge a {
	color : #989898;
}
.badge a:hover {
	color : #ffffff;
}

#divSaveDeletebtn .btn {
	margin: 0px 0px 10px 10px !important;
}

.GrouptotalRow
{
	font-weight: bold;
    background-color: rgba(165, 165, 165, 0.34);
}

.floatRight{
	float:right;
}

.GroupSummaryRow{
    background-color: #aad6fb;
}
.TotalSummaryRow{
	font-weight: bold;
	background-color: #a5a5a5;
}
.SubGroupSummaryRow{
    background-color: rgba(170, 214, 251, 0.16);
}

.hide{
	display:none;
}

.LabelPadding{
	padding-left: 10px;
    padding-right: 10px;
}

.cbx-active {
	color: rgb(51, 122, 190) !important;
	    border: 1px solid #337abe !important;
}

.rightPadding{
    padding-right: 10px;
}

.noWrap{
	    white-space: nowrap;
}

.btn-warning {
    color: #fff;
    background-color: rgb(255, 220, 79) !important;
    border-color: rgb(255, 220, 79) !important;
}
.btn-warning.active, .btn-warning:active, .btn-warning:hover{
    background-color: #deb40c !important;
    border-color: #deb40c !important;
}
a {
    text-decoration: none !important;
}

.labelPadding{
	padding-bottom: 15px;padding-left: 15px;
}

 .animate {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -.05em;
  }
  
  .ThemeTextLarger{
  	font-size : 150%;
  }
.rdAgDataTable {
	border-collapse : separate;
	   /* white-space: nowrap;*/
}

.rdAgWrapper label {
	display : initial;
	font-size : 100%;
	font-weight : normal;
}
td {
    padding: 2px;
}

/* Alerts */

.alerts-container .btn:hover{
opacity: 0.9;
}
.alerts-container .btn-success {
    background-color: #51A351 !important;
    border-color: #51A351 !important;
	opacity: .8;
}

.alerts-container .btn-warning {
    background-color: #F89406 !important;
    border-color: #F89406 !important;
}
.alerts-container .btn-warning:hover{
    background-color: #F89406 !important;
    border-color: #F89406 !important;
}

.alerts-container .btn-info{
    background-color: #2F96B4 !important;
    border-color: #2F96B4 !important;
}
.alerts-container .btn-danger {
    background-color: #e43a45 !important;
	}

/* Dashboards */	
td.rdDashboardTitle {
	background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
}

.rdDashboardTitle {
	padding : 5px;
}

.rdDashboardPanelContainer {
	background-color : transparent;
}

.rdDashboardContent > td {
	padding : 0px;
}
.arrows{
	padding: 0px 49%;
	color: rgb(101, 109, 119);
}
.tooltip-span {
	font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.custom-checkboxlist input[type="checkbox"] {
	-webkit-appearance: none;
	margin: 0;
	height: 18px;
	width: 18px;
    border: 1px solid #CFD5F0;
	border-radius: 2px;
	background: transparent;
	position: relative;
	top: 4px;
	transition-duration: .5s;
}

.custom-checkboxlist input[type="checkbox"]:hover {
    border: 2px solid #32c5d2;
}

.custom-checkboxlist input[type="checkbox"]:checked {
  	border: 1px solid #32c5d2;
	border-radius: 2px !important;
	background-color: #32c5d2;
}
.custom-checkboxlist input[type="checkbox"]:checked:hover {
	border: 1px solid #26a1ab;
    background-color: #26a1ab;
}

.custom-checkboxlist input[type="checkbox"]:checked:after {
	background-image: url(Images.ic_check.png);
	background-size: 100%;
	height: 12px;
	width: 12px;
	position: absolute;
	top: 2px;
	left: 2px;
	content: "";
}

.custom-checkboxlist input[type=checkbox]:focus{
    outline: none !important;
}

/* Sidebar Scrollbar Styling */
.custom-checkboxlist::-webkit-scrollbar {  width: 6px; }
.custom-checkboxlist::-webkit-scrollbar-track {  box-shadow: none; }
.custom-checkboxlist::-webkit-scrollbar-thumb {  background-color: rgba(121, 127, 144, 0.54); border-radius: 100px; }
.custom-checkboxlist::-webkit-scrollbar-thumb:hover { background-color: #797F90; }
