.tooltipbox {
        color: white;
        background:rgba(0,0,0,0.8);
        padding: 5px;
        border: none;
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        visibility: hidden;
        width:230px;
        pointer-events: none;
      }
#circle circle {
        fill: none;
        pointer-events: all;
      }
path.group {
        fill-opacity: .8;
      }
path.chord {
        fill-opacity: .8;
        stroke: #000;
        stroke-width: .25px;
      }
#circle:hover path.fade {
        display: none;
      }
aside {padding: 20px;}
h1, h3 {font-size: 14px; font-weight: normal; padding-left: 40px;}

#chordContainer > svg{
	position: absolute;
} 

 @media (max-width:1100px){
 div.hoverinfo{
 	font-size:10px !important;
} 
 }
 @media (max-width:1100px) and (min-width:992px){
  .tooltipbox{
   	font-size:10px !important;
  }
}
@media (max-width:600px){
  .tooltipbox{
   	font-size:10px !important;
  }
}
@media (max-width:991px){
  .mapContainer{
	width:100% !important;
	padding-bottom:45% !important;
  }
}
