#carousel-example-generic {
	width: 900px;
	margin: 0 auto;
	max-width: 100%;
}
.carousel h3 {
	text-align: center;
}
.carousel-control > span {
    color: #9a9a9a;
}

.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
