/* Pagination */
rdinteractivepaging > table.rdThemePaging {
	margin: 0 0 0 5px;
}
rdinteractivepaging span[id*='-NumberedPageNr'], 
rdinteractivepaging span[id*='-rdNumberedCurrPageNr'],
rdinteractivepaging span[id*='-FirstPageCaption'], 
rdinteractivepaging span[id*='-PreviousPageCaption'],
rdinteractivepaging span[id*='-LastPageCaption'], 
rdinteractivepaging span[id*='-NextPageCaption'] {
	position: relative;
	float: left;
	padding: .375em .75em;
	margin-left: 0px;
	line-height: 1.42857143;
	color: #454D59;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0;
}
rdinteractivepaging span[id*='-NumberedPageNr']:hover,
rdinteractivepaging span[id*='-FirstPageCaption']:hover, 
rdinteractivepaging span[id*='-PreviousPageCaption']:hover,
rdinteractivepaging span[id*='-LastPageCaption']:hover, 
rdinteractivepaging span[id*='-NextPageCaption']:hover {
	z-index: 3;
	color: #23527c;
	background-color: #eeeeee;
	border-color: #dddddd;
	font-size: 100%;
}
rdinteractivepaging span[id*='-rdNumberedCurrPageNr'] {
	z-index: 2;
	color: #ffffff;
	background-color: #777;
	border-color: #767676;
	cursor: default;
	font-size: 100%;
}
rdinteractivepaging span[id*='-FirstPageCaption'] {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
rdinteractivepaging span[id*='-LastPageCaption'] {
	border-radius: 0 0 4px 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
td.rdThemePaging span > a + span:not(.rdThemePagingCurrent) {
	display:none;
}

#AviationTable-NextPageCaption , #AviationTable-LastPageCaption , #AviationTable-PreviousPageCaption , #AviationTable-FirstPageCaption{
width: inherit;
}

#GroupAviationTable-NextPageCaption , #GroupAviationTable-LastPageCaption , #GroupAviationTable-PreviousPageCaption , #GroupAviationTable-FirstPageCaption{
width: inherit;
}

/*End Pagination*/