<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--<link href="_SupportFiles/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">-->
<link href="_SupportFiles/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<!-- END PAGE LEVEL PLUGIN STYLES -->

<!-- BEGIN THEME GLOBAL STYLES -->
<link href="_SupportFiles/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css">
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link href="_SupportFiles/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/global/css/plugins.css" rel="stylesheet" type="text/css">
<!-- END THEME GLOBAL STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="_SupportFiles/assets/layouts/layout2/css/layout.css" rel="stylesheet" type="text/css">
<link href="_SupportFiles/assets/layouts/layout2/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color">
<link href="_SupportFiles/assets/layouts/layout2/css/custom.css" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->

<link rel="shortcut icon" href="favicon.ico">