<script src="_SupportFiles/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="_SupportFiles/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="_SupportFiles/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>