.page-number
{
	display: inline;
    color: #455a64;
    text-align: center;
	font-size: 12px;
	position: relative;
  	left: 48%;
}

.report-title
{
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top:0px;
	font-weight: lighter;
	font-weight: 600;
	color: #3E403E;
	text-align: center;
}

/*------------------------------------------------------------*/
/*                          Table                             */
/*------------------------------------------------------------*/

table.dataTable 
{
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
}

.table-header{
    width: 169px;
    background-color: #4086AD;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit
}

.table-sub-header
{
	 width: 169px;
    background-color: #669ebd !important;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit
}

th
{
	vertical-align: inherit !important;
	font-size: 13px !important;
}
/*------------------------------------------------------------*/
/*                 Sub      Table                             */
/*------------------------------------------------------------*/

td.rdThemeDataTableMoreInfoRow
{
	background-color:#e7e7e7 !important;
}
.sub-table-main
{
	background-color:#f1f1f1 !important;
}

.sub-table
{
	margin-top:15px;
	margin-bottom:15px;
	border: 1px solid #5f757f;
	border-collapse: collapse;
}

.nobr	
{ 
	white-space:nowrap;
}

.sub-table td, tr 
{
    border: 1px solid #5f757f;
}


.sub-table-header
{
   	width: 169px;
    background-color: #669ebd;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit;
	border: 1px solid #5f757f;
}

.sub-report-pdf 
{
	margin-top:10px;
	background-color: #f1f1f1 !important;
	border: 1px solid #e3e3e3;
	margin-bottom:10px;
}

.sub2
{
    position: relative;
	height: 160px;
}

.hidden-clmn-data
{
	opacity: 0;
}
/*------------------------------------------------------------*/
/*                          Chart                             */
/*------------------------------------------------------------*/

#chart-div
{
	padding:10px;
	padding-bottom:15px;
	margin:0px;
	border: 1px solid #e9ecef !important;
}

.custom-legend g.highcharts-legend-item rect {
	border-radius : 10px !important;
	ry: 6 !important;
}

.centerChart{
	margin: auto;
    width: 55%;
}

.chart-title
{
	font-size: 16px;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 5px;
	font-weight: lighter;
	font-weight: 600;
	color: #3E403E;
	padding-left:40px;
}

/*------------------------------------------------------------*/
/*                    Drill Down Caption                      */
/*------------------------------------------------------------*/

.drill-down-caption
{
	font-size: 15px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 800 !important;
    color: #ffffff !important;
    padding-left: 10px;
}

#main-drill-down
{
	padding: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
	margin-bottom: 10px;
    border: 1px solid #e9ecef;
    background-color: #4086AD;
    color: #ffffff !important;
    text-align: center;
}
