/*------------------------------------------------------------*/
/*                          Media                             */
/*------------------------------------------------------------*/
@-moz-document url-prefix()
{
	#sep-col
	{
		min-height: 20px !important;
	}
	.toggle-flt-btn
	{
		max-height: 8px !important;
	}
	
	.container-fixed
	{
		margin-top: 210px !important;
	}
	
	.less-margin-top 
	{
    	margin-top: 110px !important;
	}
}

@media (max-width: 576px)
{
	.head-filter-noPadding .container h3
	{
		font-size : 1.50rem !important;
	}
	.head-filter-noPadding .container h6
	{
		font-size : 0.85rem; !important;
	}
	.date-header-txt
	{
		float : left !important;
	}
	.navbar-brand img 
	{
		height : 36px;
	}
	.loggedUser-nav 
	{
		font-size: x-large;
		margin-top: 20px;
	}
	.less-margin-top 
	{
    	margin-top: 90px !important;
	}
	.container-fixed 
	{
		margin-top: 475px;
	}
	.filter-row .container 
	{
		padding-right: 15px !important; 
		padding-left: 15px !important;
	}
	.header-row .container 
	{
		padding-right: 15px !important; 
		padding-left: 15px !important;
	}
	.content-to-hide
	{
		display: none;
   	}
	.btn-exports
	{
		min-width:10px !important;
		/*width: auto !important;*/
	}
	.small-exports
	{
		width: auto !important;
		padding-right:5px;
		padding-left:5px;
	}
	.float-right
	{
		float: right !important;
		width: 100%; 
		padding-right:0px !important;
		padding-left:0px !important;
	}
	.container {
		/*padding-right: 30px;
    	padding-left: 30px;*/
	}
	.hide-map-div .col-hide-btn 
	{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 10px;
	}
	.life-time-container-btn 
	{
		font-size: 20px;
	}
	.life-time-header 
	{
		font-size: 30px;
	}
	.hide-map-div .col-hide-bar 
	{
		padding-right : 0px;
		padding-left: 0px;
	}
	.chart-icon 
	{
		margin-top: 0px;
	}
	.chart-toggle 
	{
		width: 2rem !important;
	}
	.chart-title 
	{
		font-size: 20px !important;
	}
	.dataTables_info
	{
    	display: none !important;
	}
	.dataTables_length
	{
		display:none !important;
	}
	
	.dataTables_paginate ul
	{
		float:left !important;
	}
}

@media (max-width: 752px)
{
	.user-name 
	{
		display:none;
	}
	.header-dropdown 
	{
		margin-left: -8.3rem !important;
	}
	
	.container-fixed 
	{
		margin-top: 475px ;
	}
	
	.less-margin-top 
	{
		margin-top: 90px !important;
	}
	
	.tableFooter
	{
		width:30% !important;
	}
	
	.Filters-sub-row
	{
		flex:unset !important;
	}
	
	.dataTables_info
	{
    	display: none !important;
	} 
}

@media (min-width: 576px) and (max-width: 767px)
{
	.head-filter-noPadding .container h3
	{
		font-size : 1.50rem !important;
	}
	.head-filter-noPadding .container h6
	{
		font-size : 0.85rem; !important;
	}
	.hide-map-div .col-hide-bar 
	{
		padding-right : 0px;
		padding-left: 0px;
	}
	.container-fixed {
    	margin-top: 475px;
	}
	.less-margin-top {
		margin-top: 90px !important;
	}
	
	.tableFooter
	{
		width:30% !important;
	}
	
	.dataTables_info
	{
    	display: none !important;
	}
	
	.dataTables_length
	{
		display:none !important;
	}
	
	.dataTables_paginate ul
	{
		float:left !important;
	}
}


@media (min-width: 767px) and (max-width: 991px)
{
	.head-filter-noPadding .container h3
	{
		font-size : 1.50rem !important;
	}
	.head-filter-noPadding .container h6
	{
		font-size : 0.85rem; !important;
	}
	.tbl-header-btn 
	{
	    margin-top: 4px;
	}
	
	.container-fixed 
	{
		margin-top: 475px ;
	}
	
	.less-margin-top 
	{
		margin-top: 90px;
	}
	
	.tableFooter
	{
		width:35% !important;
	}
	
	.Filters-sub-row
	{
		flex:unset !important;
	}
	
	.dataTables_info
	{
		display:none !important;
	}
	
	.dataTables_length
	{
		display:none !important;
	}
	
	.dataTables_paginate ul
	{
		float:left !important;
	}
}

@media (min-width: 767px) and (max-width: 992px) 
{
	.hide-map-div .col-hide-bar 
	{
		padding-right : 0px;
		padding-left: 10px;
	}
	
	.dataTables_info
	{
    	text-align: center !important;
	}
}


@media (min-width: 992px) and (max-width: 1200px) 
{
	.heade-btns 
	{
		border-radius: 100px;
		width: 100%;
		min-width: 85px !important;
		margin-bottom: 5px;
		font-size: 12px;
	}
	
	.hide-map-div .col-hide-bar 
	{
		padding-right : 0px;
		padding-left: 50px;
	}
}

btn-exports@-moz-document url-prefix() {
    #navbar-header {
    max-height: 10px !important;
	/*margin-bottom: 50px !important;*/
    }
}


/*------------------------------------------------------------*/
/*                                                            */
/*------------------------------------------------------------*/

.navbar {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
	padding: 0px 16px 0px 16px;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-head{
    height: -webkit-fill-available;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.custom-container-fluid {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.header-btns{
	border-radius: 5px;
	width: 101% !important;
    min-width: 90px;
	margin-bottom: 5px;
}
.hide-map-btn{
	border-radius: 100px;
	width: 100%;
    min-width: 118px;
	cursor : pointer;
}
.hide-map-div{
	margin-bottom: 10px;
}
.hide-map-div .chart-col {
	height: 100%;
    min-height: 38px;
}
.hide-map-div .col-hide-btn {
	padding-left : 0px;
}
.hide-map-div .col-hide-bar {
	padding-right : 0px;
	padding-left: 30px;
}

.life-time-container{
    margin-left: 10%;
    margin-right: 10%;
}
.life-time-title{
	text-align: center;
}
.life-time-container-btn{
	border-radius: 100px;
	width: 100%;
	font-weight: 500;
    font-size: 30px;
    margin-top: 9px;
	user-select: text;
}
.life-time-header{
    font-size: 40px;
    font-weight: 500;
}
.life-time-row{
	margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
	padding-bottom: 15px;
    padding-top: 0px;
	background-color: #f8f9fa;
}
.card{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 20px;
	border: none !important;

}

.card-body-head-tbl {
    font-size: 15px;
    font-weight: 550;
    padding: 5px;
    border-radius: 100px;
    width: 100%;
    /*display: block;*/
    text-align: center;
    color: #1b1b1b;
    background-color: #ffffff !important;
}

.card-body-title-tbl {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: -15px;
}
.card-body-percent-tbl {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: -15px;
}
.card-tbl {
    width: 60%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 20px;
    border: none !important;
}
.bg-primary {
    background-color: #2a6738!important;
}
.bg-score-c {
    background-color: #ffc107!important;
}
.bg-score-b {
    background-color: #59b940!important;
	}
.o-hidden {
    overflow: hidden !important;
}
.brword{
white-space: pre-wrap !important;/* CSS3 */   
    white-space: -moz-pre-wrap !important;/* Firefox */   
    white-space: -pre-wrap !important;/* Opera <7 */   
    white-space: -o-pre-wrap !important;  /* Opera 7 */    
    word-wrap: break-word !important;  /* IE */
}
.text-white {
    color: #fff!important;
}
.h-100 {
    height: 195px!important;
}
.h-50 {
    height: 130px!important;
	margin-left: 10px;
    margin-right: 30px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.card-body-head{
    font-size: 19px;
    font-weight: 600;
    /* border: 2px solid white; */
    padding: 5px;
    border-radius: 100px;
    width: 100%;
    display: block;
    text-align: center;
    color: #1b1b1b;
    background-color: #f5f2f2 !important;;
}
.card-body-title{
	width: 100%;
    display: block;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: -20px;

}
.card-body-percent{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
}
.card-btn{
    border-radius: 100px;
    width: 100%;
    margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid lightgray;
    background-color: #f8f9fa;
	cursor : pointer;
}
.numSpan {
    font-size: 30px;
    font-weight: 600;
    padding: 0px;
    font-style: normal;
    line-height: 0.86;
	color: #FFF !important;
}
.card-btn-chart {
    border-radius: 100px;
    width: 100%;
    margin-top: 8px;
	margin-bottom : 10px;
    width: auto !important;
	padding:1px 5px 5px 5px;
    background-color: rgb(124, 181, 236);
    min-width: 70px;
    float: right;
    display: inline-block;
    margin-right: 10px;
    color: white;
    height: 30px;
}

.card-btn:hover {
    background-color: #ececef;
    color: #000;
    border-color: #ececef;
}
.card-left-col a {
    color: black !important;
}

.chart-icon{
	float: right; 
	display: inline-block;
	font-size: 25px;
	margin-top: 0px;
}
.chart-controls {
	padding-bottom : 5px;
}

.page-sep{
    height: 40px;
    border: 1px solid lightgray;
    /*width: 100%;*/
    margin-top: 30px;
    margin-bottom: 30px;
    background: #f8f9fa;
	border-radius: 5px;
}
.tbl-container{
   /*background: #f8f9fa;*/
    background: #FFFFFF;
	border: 1px solid lightgray;
	padding: 15px;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	border-radius: 10px;
}
.tbl-header-btn{
    border-radius: 100px;
    width: 100%;
    min-width: 78px;
	/*margin-top: 4px;*/
    font-size: 15px !important;
}
.tbl-chart-conainer{
    border: 1px solid rgba(0,0,0,.1);
    background: white;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    margin-bottom: 10px;

}
.tbl-lbl{
    border-radius: 100px;
    min-width: 70px;
    width: 70px;
	height: 30px;
    text-align: center;
    margin: 0px;
    padding: 1px;
    font-weight: 700;
	/*margin-top: 8%;*/
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}


.right-borderd{
    border-right: 1px solid lightgrey !important;
}

.filter-row1{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	/*margin-left: -15px;
    margin-right: -15px;*/
	margin-left: 101px;
    margin-right: 101px;
   /* margin-right: -30px;
    margin-left: -30px;*/
	border-bottom: 2px solid lightgray;
    padding: 25px !important;
	margin-top: 60px;
}
.filter-row{
	top: 65px;
    width: 100%;
    z-index: 999 !important;
    margin-bottom: 0px;
    position: fixed;
	border-bottom: 2px solid lightgray;
	padding: 25px !important;
	background-color: #f9f9fa !important;
}
 
.chart-col{    
	border: 1px solid #cfd1d4;
    border-radius: 10px;
    /*background-color: #f8f9fa;*/
	background-color: #FFFFFF;
}
.card-left-col{
 	padding-top: 20px;
}
/*Table custom searc*/
.icon-addon{
	position: relative;
    color: #d2d2d2;
    display: block;
}
.inp-search{
	line-height: 1.33;
    height: 28px;
    font-size: 16px;
    /*padding: 10px 16px 10px 40px;*/
	border-radius: 5px;
}
.dataTables_filter{ display: none; }
.inp-icon{
	top: -7px;
    position: absolute;
    z-index: 4;
    right: 10px;
	padding: 12px 0;
	-webkit-font-smoothing: antialiased;
}
.inp-icon2{
	    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
    position: absolute;
    z-index: 2;
    left: 10px;
    /* font-size: 14px; */
    width: 20px;
    /* margin-left: -2.5px; */
    /* text-align: center; */
    padding: 10px 0;
    /* top: 1px; */
    /* position: relative; */
    /* top: 1px; */
    /* display: inline-block; */
    /* font-family: 'Glyphicons Halflings'; */
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.dataTables_wrapper
{
	margin-right: 0px !important;
	padding-right:0px !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    visibility: hidden;/*Hide the custom search text input*/
}
/*
.tbl-padding-pg{
	padding-top: 10px;
}*/

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.65em !important;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}

.no-padding{
	padding-right: 0px;
    padding-left: 0px;
}
.no-margin{
	margin : 0px !important;
}
.padding-bottom-10{
	padding-bottom : 10px;
}
.tooltip-badge {
	border-radius: 100px;
    min-width: 60px;
    height: 30px;
    text-align: center;
    margin: 0px;
    padding: 2.5px;
    font-weight: 700;
}
.tooltip-btn {
    border-radius: 100px;
    width: 60%;
    height: 25px;
    text-align: center;
    margin: 3px 0px 0px 0px;
    padding: 0px;
    color : #fff;
	cursor : pointer;
}
.div-map-tooltip {
    min-width: 305px;
	color: #3E403E;
	padding-left: 22px;
	font-weight : 400;
}

.div-map-tooltip .row {
	margin-left : 0px !important;
	margin-right : 0px !important;
}
.div-map-tooltip .row .text-center {
	padding-left : 2px;
	padding-right : 2px;
}

.btn-outline-default {
    color: grey;
    background-color: transparent;
    background-image: none;
    border: 1px solid grey;
}
.btn-outline-default:hover {
	background-color: #e9ecef;
	color : #000;
}
#gmSummary {
	border : 1px solid lightgray !important;
}

.loggedUser-nav{
	font-size: xx-large; margin-top: 20px;
}
.headerExports{
	padding-top: 3px;
}
.affix + .jumbotron {
  	padding-top: 70px;
}
  /*sticky navbar*/
.navbar-fixed-top{
   /* top: 0px;*/
	height: 65px;
    /* top: 55px; */
    width: 100%;
    z-index: 99999 !important;
    margin-bottom: 0px;
    position: fixed;
	top: 0;
	left: 0;
}
.container-fixed{
	margin-top: 185px;
}
.filter-row-margin{
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.filter-row-nomrg{
    margin-left: 0px;
    margin-right: 0px;
}
  /**/
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-top: 10px;
}
.login-btn{
    /* padding-bottom: 30px; */
    margin-bottom: 5px;
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
	cursor: pointer;
}
.login-btn:hover{
    background-color: #f2f2f5;
	}
.header-dropdown {
    background-color: #f9f9fa !important;
    /* margin: 0.125rem 0 0 0rem !important; */
    cursor: auto;
    width: 100%;
    min-width: 200px;
}

.head-filter-noPadding{
	padding: 5px 0px 5px 0px !important;
}
.head-filter-Padding{
	padding: 25px !important;
}
#filter-row2{    
	margin-bottom: 4px;
}
.toggle-flt-btn{
	/*margin-left: -53px;*/
    margin-top: -5px;
    padding: -15;
    background-color: transparent;
    obacity: .;
    margin-bottom: -5px;
}
.toggle-transparent{
    /*background-color: #00000008 !important;*/
	background-color: rgba(169, 175, 177, 0.1) !important;
    border-bottom: none;
}
.less-margin-top{
	margin-top : 90px ;
}

.btn-toggle
{
	cursor: pointer;
	background-color: #efefef;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #797777;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hide
{
    display: none;
}

.container-fluid-logon a {
    color: #424950;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.container-fluid-logon a:hover {
    color: #3f96ec;;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.chart-panel {
	/*padding-top : 10px;
	padding-bottom : 10px;*/
}
.chart-toggle {
	cursor : pointer;
	width: 2.2rem;;
}


/* Custom Colors class's */

.bg-darkgreen{
    background-color: #055C32 !important;
}

.bg-lightgreen{
    background-color: #1A9C45 !important;
}

.bg-orange{
    background-color: #FAB72F !important;
}

.bg-red{
    background-color: #D44E46 !important;
}

.bg-blue{
    background-color: #3599CB !important;
}

.bg-lightgray{
    background-color: #F8F9FA !important;
}

.bg-gray{
    background-color: #8E98A3 !important;
}

.bg-white{
    background-color: #FFFFFF !important;
}

.bg-darkgray{
    background-color: #7E8A95 !important;
}

.bg-gray-color{
    color: #3E403E !important;
}

.bg-lightgray-color{
    color: #F8F9FA !important;
}

/*Custom tooltip style*/
.rdquicktip-content {
	font-size:12px !important;
    text-align: left;
    min-width: 100px;
    position: relative;
    padding: 3px;
    word-wrap: break-word;
    /*background-color: rgba(53, 41, 41,0.6) !important;*/
    border: 1px solid #526666;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    color: white;
    font-weight: bolder !important;
    font-family: inherit !important;

}

.tooltip-site-info{
	font-weight : bold;
}

/*Back to top*/
.bk-to-top{
	display: block;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	height: 40px;
	width: 40px;
	text-align: center;
	border: 1px solid rgba(62, 64, 62, 0.2);
	border-radius: 100px;
	background-color: rgba(169, 175, 177, 0.1);
	font-size: 25px;
	cursor: pointer;
	color: rgb(142, 152, 163);
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.bk-to-top-icon{
 vertical-align: middle;
 margin-bottom: 10px;
}
.bk-to-top:hover {
    background-color: rgba(169, 175, 177, 0.9) !important;
    color: #fff !important;
}

/*iconsTest*/
.testIcon {
    background-image: url('img.Map-Show-Hide.png');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 54px;
}
.header-btns, .hide-map-btn{
	padding: .375rem .55rem;
}
.btn i.custom-icon {
	display: inline-block;
	border-radius: 100px;
	float: left;
	font-size: inherit;
	text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	width: 25px;
	color: white;
}
.btn-outline-danger i.custom-icon {
	background-color: #dc3545;
}

.btn-outline-success i.custom-icon {
	background-color:#28a745;
}

.btn-outline-info i.custom-icon {
	background-color:#17a2b8;
}


.btn-outline-danger:hover i.custom-icon {
	background-color: #fff;
	color : #dc3545;
}

.btn-outline-success:hover i.custom-icon {
	background-color: #fff;
	color : #28a745;
}

.btn-outline-info:hover i.custom-icon {
	background-color: #fff;
	color : #17a2b8;
}
.ops-lbl {
    display: inline-block;
    float: right;
    text-align: -moz-left;
    margin-top: 10px;
    white-space: -moz-pre-space;
    padding-right: 10px;
}
.inline-display{
	display: inline-block;
}
.opsOnfo-lbl{
	color: #889088;
	font-size: 13px;
	
}

.opsinfo-icon{
	background: #1A9C45;
	border-radius: 200px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	padding-left: .29rem;
	padding-top: 0.04rem;
	color: white;
	border: 1px solid darkgray;
	font-size: 13px;
	margin-top: 5px;
	margin-right: 3px;
}
.img-info {
	float: left;
    padding-top: 6px;
}

.date-header-txt{
	float : right ;
}

/*Share Container*/
.share-container{
   	padding: 10px 15px 15px 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #756d6d;
}
.share-inputs{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
	padding: 5px;
}
.share-email-body-inp{
	width:100%;
	height: 120px;
 	border-radius: 5px;
    border: 1px solid #ccc;
	overflow: hidden;
	resize: none;
}
/*.popupPanelContainer{
	margin-top: 4rem;
}*/
.share-btns{
	width:100%;
	border-radius: 100px;
}
.share-image{
    float: right;
	width: 160px;
}
.share-footer{
    margin-top: 15px;
}
.share-lbl{
   font-weight: 600;
}
.share-header-lbl{
        font-weight: 500;
    padding-top: 10px;
}
.shareRowSpace{
    margin-bottom: 5px;
}
.share-attache-lbl{
	padding-top: 10px;
}
.validError{
 	border: 1px solid #f06868 !important;
}
.validlbl{
	float: right;
	color: #f06868;
}
/*Share Container*/

/*Email Tags Inputs*/
.bootstrap-tagsinput {
    width: 100% !important;
    min-height: 35px;
    border-radius: 5px;
   /* border: 1px solid lightblue;*/
}

.bootstrap-tagsinput .tag {
    margin-right: 0px;
    color: white;
    background-color: #17a2b8;
    padding: 2px 5px 2px 5px;
    margin-top: 2px;
	margin-bottom: 2px;
    vertical-align: middle;
    border-radius: 5px;
	display: inline-block;
	}
/*Email Tags Inputs*/

.lbl-count{
	background-color: gray;
   /* margin-right: 5px;*/
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/* Scheduler */
/* make checkboxes a little larger */
INPUT[type="checkbox"] {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.2);
    margin-left: 4px;
    margin-right: 6px;
}

.task-schedule INPUT[type="text"], .task-schedule select{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.task-schedule label {
	font-weight: 600;
}

.label-padding {
	padding-right : 10px;
}

fieldset {
    min-width: 0;
    padding: 0 12px 0 12px;
    margin: 0;
    border: 1px solid lightgrey;
}

fieldset label{
  	margin-bottom: 0;
	font-size: 0.8rem;
}

legend {
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0px 5px 0px 5px;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
.daterangepicker {
	font-size: 14px;
}
.dateRange .form-control{
	border: 1px solid #aaa !important;
}

.dateRange i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: auto;
    cursor: pointer;
}

.ranges ul {
    overflow-y: auto;
    max-height: 230px;
}

.ranges .applyBtn, .ranges .cancelBtn {
	width : 49%;
}

.range_inputs {
	padding-top : 10px;
}

.table-header a{
	color : white;
}

.table-header a:hover{
	color : white;
}
.rdTimePickerPopup, .rdDataCalendarPopUp {
	margin-top : 4px;
}

.full-width 
{
	width: 100%;
}

.header-row{
	top: 65px;
    width: 100%;
    z-index: 999 !important;
    margin-bottom: 0px;
    position: fixed;
	border-bottom: 2px solid lightgray;
	padding: 25px !important;
	background-color: #f9f9fa !important;
}
.header-row .container{
	padding-right: 0px;
    padding-left: 0px;
}

#div-dashboard-title
{
	padding-left:0px;
}

.pull-right {
  float: right !important;
}

.export-container
{
	margin-top:5px !important;
}

#export-panel
{
	margin-top:5px;
	padding-bottom:5px;
	background-color:#f9f9fa;
	
}


#header-btn
{
	padding-left:15px;
	/*padding-right:15px;*/
}




/*------------------------------------------------------------*/
/*                         Divs                               */
/*------------------------------------------------------------*/

.container {
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
}

.Filters-sub-row
{
	margin-right:0px !important;
	padding-right:0px !important;
	width:110% !important;
	max-width:110% !important;
}

/*------------------------------------------------------------*/
/*                         Inputs                             */
/*------------------------------------------------------------*/

.custom-input
{
	height: 37px !important;
	width:100% !important;
    margin-top: 0px !important;
    margin-left: 0px !important;     
	border: 1px solid #aaa !important;     
	box-shadow: none !important;     
	padding-left: 8px !important; 
	text-align: left !important;  
	padding-bottom: 0px !important;
}

.inputCaption 
{
	font-size:1rem;
	font-weight: 600;
	margin-top: 5px;
}

/*                         Select2                            */

.select2-container .select2-selection--single 
{
        height: 37px;
}

.select2-container--default .select2-selection--multiple 
{
    background-color: white;
    border: 1px solid #aaa !important;
    border-radius: 4px;
    cursor: text;
    min-height: 37px;
}

.select2-selection 
{
	-webkit-box-shadow: 0;
	box-shadow: 0;
	background-color: #4692BD;
	border: 0;
	border-radius: 0;
	color: #555555;
	font-size: 0.9rem;
	outline: 0;
	text-align: left;
}

.select2-selection__rendered 
{
  	margin: 5px;
	font-size:0.9rem !important;
}

.select2-selection__arrow 
{
 	margin: 5px;
}

.select2-results, .select2-results__options, .select2-dropdown select2-dropdown--below
{
	font-size:0.8rem !important;
}

/*                   Date range picker                     */
.datePickerRange
{
	height: 37px !important;
	width:100% !important;
    margin-top: 0px !important;
    margin-left: 0px !important;     
	border: 1px solid #aaa !important;     
	box-shadow: none !important;     
	padding-left: 8px !important; 
	text-align: left !important;  
	padding-bottom: 0px !important;
}

.input-group
{
	display:table;
}

.inner-addon 
{
  	position: relative;
    padding: 4px;
    padding-bottom: 0px !important;
    padding-top: 0px;
    padding-left: 0px;
}

.right-addon input 
{ 
	padding-right: 30px;
    height: 30px;
    font-size: 14px;
	color: gray;
}

.inner-addon span { display: block;}

/* style icon */
.inner-addon .fa, .inner-addon .far, .inner-addon .fas,{
  	position: absolute;
  	padding: 11px;
  	pointer-events: none;
  	color: #adabab;
  	font-size: 15px;
  	padding-right: 15px;
}

.right-addon .fa, .inner-addon .far, .inner-addon .fas { right: 0px;}
	
.cal
{
	position: absolute;
  	z-index:100;
	color: #dbdbdb !important;
	top: 4px !important; 
}
  
.dateRange-btn-w50
{
    width: 49%;
	padding: .2rem 1rem;
	font-size: 0.9rem;
}

.range_inputs 
{
    padding-top: 5px;
}

/*------------------------------------------------------------*/
/*                           Btns                             */
/*------------------------------------------------------------*/

#divBtn 
{
	padding-top:50px !important;
}

.btnApply
{
	margin-bottom: 0px;
	background:#4086AD;
	font-size:1rem;
}
.btnApply:hover
{
	background:#4692BD !important;
	color:white !important;
}

.btn-exports {
	border-radius: 5px;
	/*width: 100%;*/
    min-width: 85px;
	/*margin-bottom: 5px;*/
    font-size: 0.8rem;
}

.float-right-exports
{
	float: right!important;
	margin-right:10px;
}

/*                  Custom outline Buttons                    */

.btn-outline{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #3E403E;
}

.btn-outline-darkgreen{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #055C32 !important;
}

.btn-outline-lightblue{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #3599CB !important;
}

.btn-outline-lightgreen{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #1A9C45 !important;
}

.btn-outline-orange{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #FAB72F !important;
}

.btn-outline-red{
    color: #3E403E;
    background-color: #ffffff;
    background-image: none;
    border-color: #D44E46 !important;
}

.alignBottom
{
	position: absolute;
    bottom: 0;
    left: 0;
	float: right;
	padding-left:10px !important;
}

/*------------------------------------------------------------*/
/*                          Chart                             */
/*------------------------------------------------------------*/

.custom-legend g.highcharts-legend-item rect 
{
	border-radius : 10px !important;
	ry: 6 !important;
}

.chart-title
{
	font-size: 20px;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 5px;
	font-weight: lighter;
	font-weight: 600;
	color: #3E403E;
	padding-left:40px;
}

/*------------------------------------------------------------*/
/*                    Drill Down Caption                      */
/*------------------------------------------------------------*/

.drill-down-caption
{
	font-size: 15px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 600;
    color: #ffffff !important;
    padding-left: 10px;
}

#main-drill-down
{
	padding: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 6px;
    margin-left: 6px;
    border: 2px solid #e9ecef;
    background-color: #4086AD;
    color: #ffffff !important;
    text-align: center;
}

/*------------------------------------------------------------*/
/*                          Table                             */
/*------------------------------------------------------------*/
table 
{
	border-collapse: collapse !important;
}

table.dataTable 
{
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important
}

table.dataTable tr > td:last-of-type 
{
    border-right: none !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    top: 5px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    top: 5px;
}

.table-header{
    width: 169px;
    background-color: #4086AD;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit
}

.table-sub-header
{
	 width: 169px;
    background-color: #669ebd !important;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit
}

.sub-table-header
{
    width: 169px;
    background-color: #669ebd;
    color: white;
    text-align: center;
    border: none;
	border-right: 1px solid;
	vertical-align: inherit
}

th
{
	/*min-width: 100px;*/
	vertical-align: inherit !important;
	font-size: 13px !important;
}

.full-width-tbl
{
	width:100% !important;
	overflow-y:hidden;
	overflow-x:auto;
}

.nobr	
{ 
	white-space:nowrap;
}

.wide-clmn	
{ 
	min-width:150px !important;
}

.dataTables_wrapper .row
{
	margin-right: 0px;
    margin-left: 0px;
}

.dataTables_wrapper .row .col-sm-12
{
	padding: 0px;
}

/*------------------------------------------------------------*/
/*               Sub   -    Table                             */
/*------------------------------------------------------------*/

td.rdThemeDataTableMoreInfoRow
{
	background-color:#e7e7e7 !important;
}

.sub 
{
    position: absolute;
    left: 173px;
    right: 50px;
	margin-top: 15px;
	overflow: hidden;
	background-color: #fafafa !important;
	border: 1px solid #e3e3e3;
}

.sub2
{
    position: relative;
	height: 160px;
}

/*------------------------------------------------------------*/
/*                       Pagination                           */
/*------------------------------------------------------------*/

.page-item.active .page-link
{
	background-color:#4692BD !important;
	border-color:#6c757d !important;
	color: white !important; 
}

.page-link:focus, .page-link:hover
{
	/*background-color:#4692BD !important;*/
	border-color:#6c757d !important;
	color: #666666 !important; 
}

.tableFooter
{
	display:flex !important; 
	margin-top: 20px;
}

.align-center ul 
{
	float: right;
    width: 70%;
}

.dataTables_length .select2
{
	width: 65px !important
}

.dataTables_info{
    text-align: right;
}

/*------------------------------------------------------------*/
/*                       Popup Panel                          */
/*------------------------------------------------------------*/

.popup-header
{
	background-color:#4086AD;
	margin-right: 0px;
    margin-left: 0px;
    margin-top: -2px;
}

.popup-title
{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 600;
    color: #ffffff !important;
	padding-bottom: 10px !important;
}

.close-popup
{

	font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: lighter;
    font-weight: 600;
    color: #ffffff !important;
	padding-bottom: 10px;

}

#btnCloseWindow
{
	float: right;
	color: #ffffff !important;
}

#btnCloseWindow:hover
{
	color:#3E403E !important;
}

.table-clmns-chck
{
	box-shadow: none;
}

.popup-content
{
	margin: 10px;
	overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px !important;
}

#PopupPanelContent
{
	padding-top:0px;
}


/*------------------------------------------------------------*/
/*-----------------------      ---------------------------*/
/*------------------------------------------------------------*/

.small-padding
{
	padding:5px;
	padding-right:20px;
	line-height: 1.15 !important;
}

form[name="rdForm"] 
{
    background-color:#d7d7d7 !important;
}

.col-filter-pad
{
	padding-right: 10px;
    padding-left: 10px;
}

#header
{
	background-color:#4086AD !important;
	color: #ffffff !important;
}

.togFilter
{
	height: 5px; 
	line-height: 5px;
}

.main-row
{
	padding-right:0px;
	margin-right:0px;
}


#header-btn
{
	padding-top: 10px;
	padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.paddingR0
{
	padding-right:0px;
}

.hidden-clmn-data
{
	opacity: 0;
}

.report-bck-ground
{
	background-color: #d7d7d7 !important;
	background: #d7d7d7 !important;
}

.yui3-js-enabled
{
	background-color: #d7d7d7 !important;
}
.paddingFilterRow{
    padding-bottom: 10px;

}